.container {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.entry {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  margin: 1rem;
}

textarea {
  width: 80%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
